# 카카오 로그인 (https://developers.kakao.com)
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=
KAKAO_AUTH_URL=https://kauth.kakao.com/oauth/authorize?client_id=$KAKAO_CLIENT_ID&redirect_uri=$KAKAO_REDIRECT_URI&response_type=code

# 표준국어대사전/우리말샘 OpenAPI (https://opendict.korean.go.kr)
OPENDICT_API_KEY=

# ETRI 문장분석 OpenAPI (https://aiopen.etri.re.kr)
ETRI_API_KEY=
