.box {
    position: relative;
    margin: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 4px 4px 0 rgb(117 121 125 / 6%), 0 1px 3px 0 rgb(113 117 121 / 20%);
}

.box:hover {
    background-color: rgba(250, 181, 96, 0.87);
}