.container {
    position: relative;
    padding: 10px 20%;
    border-top: 1px solid #dfdfdf;
}

.dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dt {
    display: block;
    margin-bottom: 14px;
    padding: 0 10px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 13px;
    font-weight: bold;
    line-height: 41px;
    color: #444;
}

.dd {
    display: inline-block;
    margin-inline-start: 40px;
    margin-bottom: 10px;
}

.resources_wrap {
    overflow: hidden;
    padding: 0 0 14px;
    border-top: 1px solid #818181;
}

.dicinfo {
    display: inline-block;
    margin-left: 4px;
}

.dicname {
    display: inline;
    font-size: 13px;
    color: #444;
}

.organization {
    color: #888;
}

.footer_inner {
    padding: 23px 0 50px;
    border-top: 1px solid #dfdfdf;
    text-align: center;
}

.links {
    padding-left: 11px;
    /* background: url(https://ssl.pstatic.net/dicimg/gdic/style/202206071420/img/bu_bar_footer.gif) no-repeat 4px 50%; */
    font-size: 12px;
    color: #333;
}

.policy {
    margin-bottom: 12px;
    font-size: 11px;
    line-height: 19px;
    color: #7e7e7e;
}

.copyright {
    font-family: Verdana, Sans-serif;
    font-size: 9px;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 40px;
}