/* main */

.container {
    position: sticky;
    bottom: 10px;
    display: flex;
    flex-basis: auto;
    width: auto;
    height: auto;
    top: 0;
    z-index: var(--z-index-top);
}

.nav {
    width: 100%;
    height: 6vh;
    background: #F0F0F0;
    box-shadow: rgb(0 0 0 / 10%) 0px 8px 12px 0px;
    font-family: 'Jalnan';
    font-size: 25px;
    color: #5EB656;
}

.ul {
    list-style-type: none;
    margin: 0 5% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.li {
    display: inline-block;
    height: 6vh;
    padding-left: 2vh;
    align-items: center;
    justify-content: center;
    /* border-left: solid 2px #a9abae; */
}

.test {
    display: inline-block;
    position: absolute;
    line-height: 60px;
    left: 3%;
}

.a {
    text-decoration: none;
    height: 6vh;
}

.img {
    padding-top: 1vh;
    height: 6vh;
}

.img:hover {
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform .35s;
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
}

.img2 {
    padding-top: 1vh;
    height: 6vh;
}

.img2:hover {
    display: inline-block;
    border: none;
    border-radius: 90px 80px / 80px 30px;
    /* margin-top: 1vh;
    padding-left: 1vh; */
    background-color: #b4cfa96b;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: transform .35s;
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
}

.title_ranking {
    border: none;
    cursor: pointer;
    background: none;
}

.body_ranking {
    height: auto;
    width: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.user_ranking {
    padding-top: 1vh;
    height: 6vh;
}

.word_ranking {
    padding-top: 1vh;
    height: 6vh;
}

@font-face {
    font-family: 'Jalnan';
    src: url("../../../public//fonts/JalnanOTF.otf") format('opentype');
}