.container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.button_container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.question {
    /* font-family: 'Jalnan'; */
    margin-bottom: 2vh;
    text-align: center;
}

.item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: beige;
    font-size: 20px;
    width: 50vh;
    min-height: 6vh;
    margin: 1vh;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 4px 4px 0 rgb(117 121 125 / 6%), 0 1px 3px 0 rgb(113 117 121 / 20%);
}

.item:hover {
    background-color: rgb(165, 226, 255);
    transition: all 0.3s ease;
}

/* @font-face {
    font-family: 'Jalnan';
    src: url("../../../public//fonts/JalnanOTF.otf") format('opentype');
} */