.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    border: 10px;
    width: 80vh;
    height: 45vh;
}

.content {}

.word {
    font-family: 'Jalnan';
    position: relative;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.word:hover {
    cursor: pointer;
}

.morphem {
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    margin: 10px;
}

.morphem:hover {
    cursor: pointer;
}

.mean {
    font-family: 'GmarketSansMedium';
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
}

.mean:hover {
    cursor: pointer;
}


/* 말풍선 적절한 top 과 margin-left 로 위치조정 */

.arrow_box {
    display: none;
    position: absolute;
    width: 100px;
    padding: 7px;
    left: 70%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

.word:hover~.arrow_box {
    display: block;
}

.morphem:hover~.arrow_box {
    display: block;
}

.mean:hover~.arrow_box {
    display: block;
}

@font-face {
    font-family: 'Jalnan';
    src: url("../../../public//fonts/JalnanOTF.otf") format('opentype');
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url("../../../public//fonts/GmarketSansMedium.otf") format('opentype');
}